@import url("https://fonts.googleapis.com/css?family=Lora Roboto");

@import url("composants/container.css");
@import url("composants/avatar.css");
@import url("composants/button.css");
@import url("composants/banner.css");
@import url("composants/card.css");
body {
font-family: 'Lora', serif;
font-size: 18px;
}
h1,h2,h3 {
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: black;
}
a{
text-decoration: none;
}